
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.ipynb_checkpoints/
.DS_Store
.env
.venv/
venv/
env/
*.sqlite3
*.db

data/

scheduler*.py


hopsworks_cache/
tmp/
cache/
__MACOSX/


.vscode/
.idea/
*.code-workspace

.github/*.log

eda_outputs/

!dashboard/eda_outputs/

dashboard/predictions/

models/
*.pkl
*.joblib
*.h5
*.pt
